html,
body {
  height: 100%;
  Margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* school name */
.navbar {
  background-color: #2c3e50;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* School name  */
.navbar h1 {
  font-size: 20px;
}

/* Acc Button*/
.navbar nav a {
  color: white;
  text-decoration: none;
  margin-left: 0px;
  margin-right: 15px;
  font-weight: bold;
}

/*menu button*/
.toggle-btn {
  background-color: #19557c;
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 5px;
  margin-left: 3px;

}

.toggle-btn:hover {
  background-color: #3498db;
}

.sidebar {
  background-color: #34495e;
  color: white;
  width: 220px;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 60px;
  /* ilalim ng navbar */
  right: 20px;
  /* gilid sa kanan */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.sidebar.hidden {
  display: none;
}

/* Container */
.container {
  display: flex;
  Flex-direction: row;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  background-color: #34495e;
  color: white;
  width: 200px;
  padding: 20px;
}

.sidebar h2 {
  background-color: #2980b9;
  margin-bottom: 15px;
  font-size: 18px;
  border: none;
  padding-bottom: 12px 8px;
  border-radius: 5px;
  text-align: center;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 8px 8pxs;
  margin-bottom: 8px;
  border-radius: 5px;

}

.sidebar a:hover {
  background-color: #2c3e50;
}

/* Main content */
.main {
  flex: 1;
  padding: 20px;
  background-color: #ecf0f1;
}

/* Card */
.card {
  background: white;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Card title */
.card h3 {
  margin-bottom: 15px;
}

/* Button */
.btn {
  background-color: #2980b9;
  color: white;
  padding: 6px 12px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 5px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #3498db;
}

/* INventory Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th,
td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #bdc3c7;
}

th {
  background-color: #2980b9;
  color: white;
}

/* Footer */
.footer {
  text-align: center;
  padding: 11px 11px;
  background-color: #2c3e50;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}